header {
  background-color: #031f61;
  background-image: linear-gradient(to right,  #5c88ed,  #031f61);
  color:  #ffffff;
}

.btn-primary {
  color: white;
  background-color: rgb(58, 141, 243);
  border-radius: 5px;

}
.btn-primary:hover {
  background-color: #15bb8f;
}

#content {
  padding-left:5%;
}

#current-weather {
 border: #031f61 solid 1px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#current-conditions h3 {
  display: inline;
 
}

.card {
  background-color: #273649;
  color: white;
}